[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
scrapy-fake-useragent = "*"
ipython = "*"
sentry-sdk = "*"
psycopg2-binary = "*"
sqlalchemy = "*"
price-parser = "*"
colorlog = "*"
python-telegram-bot = "*"
sqlalchemy-utils = "*"

[dev-packages]
autopep8 = "*"
flake8 = "*"

[requires]
python_version = "3.9"
